.container {
  border: 1px solid black;
}

.search_buttons {
  padding: 10px;
}

.search_button {
  border-radius: 10px;
  width: 60px;
  padding: 5px;
  margin: 0 20px;
  background: rgb(0, 255, 255);
}

.search_button:hover {
  background: rgb(0, 220, 220);
}

.search_button:active {
  background: rgb(0, 175, 175);
  color: white;
}
