.search_bar {
  width: 300px;
  padding: 2px 5px;
}

.search_buttons {
  padding: 10px;
  margin: 10px;
}

.search_button {
  border-radius: 10px;
  width: 60px;
  padding: 5px;
  margin: 0 20px;
  background: rgb(0, 230, 81);
}

.search_button:hover {
  background: rgb(0, 207, 69);
  cursor: pointer;
}

.search_button:active {
  background: rgb(0, 150, 50);
  color: white;
}
