.playlist_container {
  width: 400px;
  border-radius: 30px;
  margin: 0 auto;
  background-color: rgba(16, 158, 94, 0.747);
}

.playlist_header {
  border-bottom: 2px solid black;
  /* background-color: rgba(52, 182, 252, 0.751); */
}

.playlist_name {
  border: transparent;
  font-size: 1.5rem;
  text-align: center;
  background: transparent;
  margin: 20px;
  cursor: text;
}

.save_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0;
}

.save_button {
  border: transparent;
  padding: 0;
  border-radius: 50%;
  background: transparent;
}

.save_icon {
  background-color: rgba(52, 252, 142, 0.751);
  margin: 0;
  padding: 10px;
  font-size: 2.25rem;
  border-radius: 50%;
  border: transparent;
}

.save_icon:hover {
  cursor: pointer;
  font-size: 2.5rem;
}

.save_icon:active {
  color: rgba(52, 252, 142, 0.751);
  background-color: black;
}

/* .save_btn_container:hover {
  cursor: pointer;
  font-size: 3.7rem;
  width: 60px;
  height: 60px;
} */

/* .save_btn_container:active {
  color: rgba(52, 252, 142, 0.751);
  background-color: black;
} */
